#test{
    width: 500px;
    height: 500px;
    background-color: red;
}

#keyboardPage{
    display: flex;
    /*width: 100%;*/
    /*background-color: #333333;*/
}

/*#sus {*/
/*    background: conic-gradient(*/
/*            #fff 0deg 45deg,*/
/*            #000 45deg 90deg,*/
/*            #fff 90deg 135deg,*/
/*            #000 135deg 180deg,*/
/*            #fff 180deg 225deg,*/
/*            #000 225deg 270deg,*/
/*            #fff 270deg 315deg,*/
/*            #000 315deg 360deg*/
/*    );*/
/*}*/

textarea:focus{
    outline: 1px solid #3498DB;
}

.sector {
    border: 1px solid #000;
    position: absolute;
    width: 100%;
    height: 100%;
    /*clip-path: polygon(50% 50%, 100% 0, 100% 100%);*/
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
}
.sector:nth-child(1) { background-color: #fff; transform: rotate(0deg); }
.sector:nth-child(2) { background-color: #000; transform: rotate(45deg); }
.sector:nth-child(3) { background-color: #fff; transform: rotate(90deg); }
.sector:nth-child(4) { background-color: #000; transform: rotate(135deg); }
.sector:nth-child(5) { background-color: #fff; transform: rotate(180deg); }
.sector:nth-child(6) { background-color: #000; transform: rotate(225deg); }
.sector:nth-child(7) { background-color: #fff; transform: rotate(270deg); }
.sector:nth-child(8) { background-color: #000; transform: rotate(315deg); }

.App{
    width: 100vw;
    height: 100vh;
}
input{

    width: 75%;
    height: 50px;
    font-size: 45px;
    /*margin: auto;*/
}

#keyboardContainer{

    width: 750px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:15px;
    /*margin-top: 150px;*/
    position: relative;
    flex-shrink: 0;
    /*background-color: red;*/
}

#leftBubble{
    position: absolute;
    left: 0;
}#topBubble{
    position: absolute;
    /*left: 0;*/
    top: 0;
}#rightBubble{
    position: absolute;
    /*left: 0;*/
    right: 0;
}
#bottomBubble{
    position: absolute;
    /*left: 0;*/
    bottom: 0;
}#topLeftBubble{
    position: absolute;
    left: 50px;
    top: 50px;
}#topRightBubble{
    position: absolute;
    right: 50px;
    top: 50px;
}#bottomLeftBubble{
    position: absolute;
    left: 50px;
    bottom: 50px;
}#bottomRightBubble{
    position: absolute;
    right: 50px;
    bottom: 50px;
}


textarea {
    background: url(../public/notebook.png) repeat-y;
    width: 600px;
    height: 600px;
    font: normal 18px verdana;
    line-height: 27px;
    padding: 2px 10px;
    border: solid 1px #ddd;
    resize: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#standby{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#standby h1{
    color: #F6B100;
    text-align: center;
    margin-top: 20vh  ;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /*margin-bottom: 0px;*/
}

.lds-spinner {
    scale: 1.25;

    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #3498DB;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
